<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF7C0EA41D0E561300B5A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7C0EBB1D0E561300B5A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7C0EC61D0E561300B5A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
